<!DOCTYPE html>
<html>
  <head>
    <title>Lab 04</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ma super application Express</h1>
    <p>Le membre de l'équipe est Gilles Sinotte</p>
  </body>
</html>
